html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

canvas {
  background-color: #000;
}

input[type=number] { 
  width: 50px;
  text-align: right;
  margin-bottom: 8px;
}
label {
  display: inline-block;
  width: 100px;
  text-align: left;
}
